/* GLOBAL */

#root {
  --someVariable: 10px;
}

/* CLEAR FLOAT UTILITIES */

.fix {
  clear: both;
}

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}
