/* IMAGE OVERLAY */

.image-overlay .image-banner img {
  width: 100%;
  max-width: 750px;
  height: auto;
  display: block;
}

.image-overlay .image-banner {
  position: relative;
  overflow: hidden;
}



.image-overlay .banner-description {
  position:absolute;
  bottom: 0;
  left: 0;
  color: white;
  background-color: rgba(0,0,0,.5);
  padding: 1em;
  text-align: center;
  width: 100%;
  max-width: 750px;
  box-sizing: border-box;
}
