.slideshow {
  width: 100%;
  max-width: 750px;
  height: auto;
  margin: 20px;
  align: center;
}

.slideshow img{
  width: 100%;
  max-width: 750px;
  height: auto;
}

.slideshow a {
  text-decoration: none;
}

.slide {
  position: relative;
  max-width: 750px;

}

.slide img {
  display: block;
}

.slide-text {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .slide-text {
    position: static;
    background-color: #000;
  }
}

.slide-text h3 {
  margin: 0;
}


/* Button A Style */
.btn-a {
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #365267;
  color: #fff;
  font-size: 84%;
  margin-left: 10px;
}

.btn-a:hover {
  background-color: #fff;
  color: #365267;
}

/* Banner Overlay */
.slideshow .image-banner {
  position: relative;
  margin-bottom: 40px;
  overflow: hidden;
}

.slideshow img {
  display: block;
  transition: all 10s;
}

.slideshow img:hover {
  transform: scale(1.5);
}

.slideshow .slide-text {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.65);
  padding: 15px 25px;
  opacity: 0;
  transition-property: all;
  transition-duration: 1s;
  transform: translateY(100%);
}

.slideshow:hover .slide-text {
  opacity: 1;
  transform: translateY(0);
}
