
.styled-table table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}


.col-item-name {
  width: 60%;
}

.col-quantity,
.col-price {
  width: 20%;
}

.styled-table table tbody tr:nth-child(even) td {
  background-color: var(--green-l);
}



/*  not sure why we need the space before the colon here */
.styled-table table tr :nth-child(1) {
  text-align: left;
}

.styled-table table tr :nth-child(2),
.styled-table table tr :nth-child(3) {
  text-align: center;
}

.styled-table table th {
  text-align: left;
  background-color: var(--green-m);
  color: #fff;
  text-shadow: 2px 2px 0 rgba(0,0,0,.7);
}

.styled-table table th,
.styled-table table td {
  border: 1px solid var(--green-d);
  padding: 10px;
  vertical-align: top;
}
