/* DROPDOWN MENU */

.examples-menu {
  /* display: block; */
  /* float: left; */
  /* outline: none; */
  /* box-sizing: border-box; */
  /* background-color: transparent; */
}

/* Dropdown Button */
.example-button {
    background-color: transparent;
    outline: none;
    color: black;
    font-size: 80%;
    display: block;
    text-decoration: none;
    padding: 17px 10px;
    height: 46px;
    box-sizing: border-box;
    transition: background-color 1s;
    transition: color .5s;
    /* border: 0; */
    border-style: none;
}

/* Dropdown button on hover & focus */
.examplebtnclass:hover,
.examplebtnclass:focus {
    /* background-color: var(--greenDark); */
    color: white;
    background-color: #999;
    transition: background-color 1s;
    transition: color .5s;
}

/* The container <div> - needed to position the dropdown content */
.example-dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.example-dropdown-content {
    display: none;
    position: absolute;
    background-color:var(--greenMedium);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.example-dropdown-content a {
    /* color: white; */
    padding: 10px 14px;
    text-decoration: none;
    font-size: 14px;
    display: block;
}

/* Change color of dropdown links on hover */
.example-dropdown-content a:hover {
  color: black;
  background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display: block;}
