.login {
  float: right;
  height: 46px;
  overflow: hidden;
}

.login a {
  color: var(--green-xl);
  text-decoration: none;
  display: block;
  height: 46px;
  box-sizing: border-box;
  padding: var(--navTopMargin) 4em;
}

.login a:hover {
  color: white;
  background-color: #999;
}

.fb_login {
  height: 25px;
  display: block;
}

.fb_name {
  color: var(--green-xl);
  padding-right: 10px;
  padding-top: var(--navTopMargin);
  float: left;
}

@media screen and (max-width: 540px) {
  .fb_name {
    display: none;
  }
}

.fb_image img{
  width: 36px;
  height: 36px;
  padding: 5px;
  float: left;
}
