/* GLOBAL */

#root {
  --navTopMargin: 10px;
}

/* NAVIGATION */

.nav-container {
  position: fixed;
  background-color: #ccc;
  display: block;
  width: 100%;
  height: 46px;
  box-sizing: border-box;
  z-index: 999;
}

.logo {
  float: left;
  padding: var(--navTopMargin) 4em;
}

.site-nav {
  float: left;
  display: block;
}

.site-nav ul {
  padding: 0;
  margin: 0;
}

.site-nav li {
  list-style: none;
  float: left;
}

.site-nav a {
  color: black;
  font-size: 80%;
  display: block;
  text-decoration: none;
  padding: 12px 10px;
  height: 46px;
  box-sizing: border-box;
  transition: background-color 1s;
  transition: color .5s;
}

.site-nav li a:hover {
  color: white;
  background-color: #999;
  transition: background-color 1s;
  transition: color .5s;
}


.login {
  float: right;
}

.login a {
  color: black;
  text-decoration: none;
  display: block;
  height: 46px;
  box-sizing: border-box;
  padding: var(--navTopMargin) 4em;
}

.login a:hover {
  color: white;
  background-color: #999;
}
